:root {
    --text: white;
    --accent: #34b6e9;
    --secondary: #8e9fb1;
    --main: #21252c;
    --accentAlt: #25485B;
    --secondaryAlt: #444D58;
    --mainAlt: #171A21;
}

* {
    text-transform: uppercase;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--accent);
}

body {
    background-color: #21262d;
    font-family: 'Inter', sans-serif;
    color: var(--text);
    font-size: 1vw;
    width: 100%;
    width: 100%;
}

header {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 0.2vw var(--text) solid;
    margin-left: 5%;
    margin-right: 5%;
    height: 5vw;
}

#nameChange {
    font-size: 4vw;
    color: var(--accent);
    text-shadow: 0vw 0.8vw 0.2vw #030304;
    font-weight: bold;

}

.regular {
    font-size: 1.5vw;
    color: var(--text);
}

#textBlock {
    position: absolute;
    margin-left: 35vw;
    margin-top: -5vw;
    max-width: 45vw;
}

.mainText {
    font-size: 2vw;
    color: var(--main);
    font-weight: bold;
}

.secondaryText {
    font-size: 2vw;
    color: var(--secondary);
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}

nav>a {
    padding-left: 1vw;
    padding-right: 1vw;
    top: 0;
    bottom: 0;
    margin: auto;
    color: var(--secondary);
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}

nav {
    flex-grow: 1;
    display: flex;
    align-self: end;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
}

#stickyNote {
    position: absolute;
    width: 30vw;
    height: 30vw;
    padding: 2.5vw;
    rotate: 10deg;
    margin-top: 30vw;
    margin-left: 15vw;
}

.site_type {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1vw;
    font-size: 1.3vw;
    color: var(--secondary);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.logo svg {
    width: 23vw;
}

.logo {
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.indexWrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

#wrapper {
    position: relative;
    width: auto;
    height: auto;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    margin-left: 31vw;
    margin-top: 6vw;
}

.bg_one,
.bg_two,
.bg_three,
.bg_rotated {
    position: absolute;
    width: 25vw;
    height: 25vw;
    box-shadow: 0 1.5vw 0.2vw 0 rgba(0, 0, 0, 0.50);
}

.bg_one {
    background-color: var(--secondaryAlt);
    z-index: -90;
}

.bg_two {
    background-color: var(--mainAlt);
    margin-top: calc(25vw / 2);
    margin-left: calc(25vw / 2);
    z-index: -95;
}

.bg_three {
    background-color: var(--accentAlt);
    margin-top: 25vw;
    margin-left: 25vw;
    z-index: -100;
}

.bg_rotated {
    background-color: var(--secondaryAlt);
    margin: auto;
    margin-top: calc(25vw * 1.25);
    margin-left: -15vw;
    z-index: -85;
    width: 30vw;
    height: 25vw;
    left: 0;
    right: 0;
    rotate: 10deg;
}

#indexNotes {
    margin-left: 1vw;
    margin-top: 3vw;
    float: left;
}

.noteMain,
.noteAccent,
.noteSecondary {
    width: 22vw;
    height: 18vw;
    box-shadow: 0 1vw 0.1vw 0 rgba(0, 0, 0, 0.50);
    position: relative;
    margin-top: 1.5vw;
}

.noteMain,
.noteSecondary {
    margin-left: 5vw;
}

.noteMain {
    background: var(--mainAlt);
}

.noteAccent {
    background: var(--accentAlt);
}

.noteSecondary {
    background: var(--secondaryAlt);
}

.list {
    line-height: 175%;
    padding-top: 1vw;
    padding-left: 1vw;
    font-size: 1.05vw;
}

.listColumnR,
.listColumnL {
    max-width: 10vw;
    display: inline-block;
}

.listColumnR > a,
.listColumnL > a {
    color: var(--text);
}

.listColumnR {
    margin-left: 1vw;
}

.listColumnL {
    float: left;
}

#indexTitle {
    position: absolute;
    color: var(--accent);
    font-size: 2.2vw;
    margin-left: 1.5vw;
    top: 2.5vw;
    text-shadow: 0px 0.5vw 0.2vw #030304;
    z-index: 10;
}

#page {
    position: absolute;
}

.noteTitleRight,
.noteTitleLeft {
    position: absolute;
    font-size: 1.5vw;
    color: var(--secondary);
    min-width: 10vw;
    z-index: 11;
    margin-bottom: 5vw;
    text-shadow: 0px 0.5vw 0.2vw #030304;
    top:-1vw;
}

.noteTitleRight {
    margin-left: 21vw;
}

.noteTitleLeft {
    margin-left: 1vw;
}

.noteWrapper {
    position: relative;
    height: 20vw;
    width: auto;
}

.secondaryBlock,
.accentBlock,
.mainBlock {
    height: 13vw;
    display: inline-block;
    box-shadow: 0 1vw 0.2vw 0 rgba(0, 0, 0, 0.50);
}

.secondaryBlock,
.accentBlock {
    width: 35vw;
}

.mainBlock {
    width: 15vw;
    background-color: var(--mainAlt);
    align-items: end;
    display: grid;
}


.imgWrapper img {
    max-height: 10vw;
    width: auto;
    height: auto;
}


.imgWrapper {
    display: flex;
    justify-content: center;
}

.secondaryBlock {
    margin-right: 1.5vw;
    background-color: var(--secondaryAlt);
    float: left;
}

.accentBlock {
    margin-left: 1.5vw;
    background-color: var(--accentAlt);
    float: right;
}

.workWrapper {
    float: right;
    margin-left: 4vw;
    margin-top: 4.5vw;
}
.workColumnR,
.workColumnL {
    margin-bottom: 7vw;
    height: 10vw;
}

.workColumnR {
    margin-left: 3vw;
}

.workColumnL {
    margin-right: 3vw;
}

.blockTitle {
    position: relative;
    color: var(--accent);
    font-size: 2vw;
    margin-top: -1.5vw;
    text-shadow: 0px 0.5vw 0.2vw #030304;
    z-index: 10;
    width: inherit
}


.workColumnR .blockTitle {
    margin-left: -3vw;
}

.workColumnR .mainBlock {
    float: right;
}

.workColumnL .mainBlock {
    float: left;
}

.workColumnL .blockTitle {
    margin-left: 3vw;
    text-align: end;
}

.blockContent {
    position: absolute;
    padding: 0.7vw;
    width: inherit;
    margin-top: -0.5vw;
}

.blockContent .secondaryText {
    color: var(--secondary);
    font-size: 1vw;
    font-weight: 500;
}

.desc {
    max-width: inherit;
    height: 6vw;
    margin-bottom: 1vw;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.infoContent {
    height: 3vw;
}

#page a:hover {
    text-decoration: underline;
}
